# use glob syntax
syntax: glob

# Project Specific #

__pycache__
pyvenv.cfg

# System #
.DS_Store

# Mercurial #
.orig

# Node #
node_modules/

# CMake #
build_cmake/

# Golang #
vendor/

# PlatformIO #
.pioenvs
.piolibdeps

dist/

# Visual Studio #
*.i
*.sle
*.cache
*.sbl
*.sto
*.orig
*.log
*.xld
*.fw
*.snmp
*.err
*.mak
*.map
*.dat
*.asm
*.out
*.CDX
*.DBF
*.src
*.elf
*.abs
*.ebf
*.mk
*.obj
*.bak
*.o
*.d
*.pdb
*.suo
*.class
*.user
*.ncb
*.exp
*.ilk
*.dll
*.force
# *.XML
*.exe
*.ncrunch*
*.sdf
*.playlist
bin\**
obj\**
DebugDll\*.*
Debug\*.*
Tools\Test\*.*

env3
tools/tf_to_trt/data

.vs

_xcode
.env2
.env3
svm.p

logs
dev.retry
env
.git

DerivedData
Pods

tmp
tmp-*
.promptfoo
.env
*.egg-info
notebooks
data
.mypy_cache

scratch
.venv